@{
    ViewBag.Title = "About";
}

<h3>Project Background</h3>
<p>Assignment specification</p>

<div class="col-sm-12 col-md-6">
    <h6>About</h6>
    <p class="text-justify">
        <a href="https://www.um.org/" target="_blank">User Modeling Inc.</a> would like to organize a series of
        conferences focusing on research topics in the area of user adaptive systems and personalization.
        They need to organize annual conferences for researchers and industry practitioners to meet and present their work in 2019.
        We are appointed as a project team to develop a system to support the conference management.
    </p>

    <p class="text-justify">
        After investigating the operation of User Modeling Inc. and identifying potential events or conferences through the provided link. 
        We design and develop a conference management system for User Modeling Inc. that allows conference organizers to manage the events and registrations. 
        This application is capable of storing conference/event details, organizers details for each conference, attendee details and their event registration.
    </p>
</div>

<div class="col-xs-6 col-md-3">
    <h6>Project team</h6>
    <ul>
        <li><a>@Html.ActionLink("Qin Xu", "Contact", "Home")</a></li>
    </ul>
</div>

<div class="col-xs-6 col-md-3">
    <h6>Quick Links</h6>
    <ul>
        <li><a href="https://www.um.org/" target="_blank">UM Modeling Inc.</a></li>
        <li><a href="https://www.vu.edu.au/" target="_blank">Victoria University</a></li>
    </ul>
</div>
