@{
    ViewBag.Title = "Contact";
}
<h3>Contact Details of Student</h3>
<h4>Evan Xu</h4>
<address>
    <strong>Address:</strong> 160 Sussex St, Sydney, NSW 2000<br />
    <strong>Email:</strong> <a href="mailto:evan.qin.xu@gmail.com"> evan.qin.xu@gmail.com</a>
</address>

<div>
    <a href="https://www.facebook.com/EvanQinXu/" class="fa fa-facebook" target="_blank"></a>
    <a href="https://www.linkedin.com/in/evan-qin-xu" class="fa fa-linkedin" target="_blank"></a>
</div>
