@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron banner">
    <h3>User Modeling Inc.</h3>
    <p class="lead">User Modeling Inc. host numerous conferences for researchers every year to share the newest development of user adaptive systems. 
    This application is for the administrative team to check and manage all relative information for each conference.</p>
    <p><a href="https://www.um.org/" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>Assignment 2 - Conference Management System</h4>
        <ul>
            <li class="assignment-info-list-item"><b>Unit Name</b><br/>Advanced Object Oriented Programming</li>
            <li class="assignment-info-list-item"><b>Student Name</b><br/>Evan Xu</li>
        </ul>
        <p><b>College of Engineering and Science, Victoria University</</b><p>
    </div>
</div>